In [117]:
import random
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

**concat() - –≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å**

–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ `–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª–∏`:
 * –ò–Ω–¥–µ–∫—Å—ã –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏
 * –£–∫–∞–∑–∞—Ç—å axis=1 –¥–ª—è —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è `–ø–æ –≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª–∏`

In [67]:
a = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))
b = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('CD'))
c = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('EF'))
frames = [a, b, c]
pd.concat(frames, axis=1)

   A  B   C   D    E    F
0  1  2  10  20  100  200
1  4  5  40  50  400  500
2  7  8  70  80  700  800

**concat() - NaN**
* –†–∞–∑–Ω—ã–µ –∏–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤
* –†–∞–∑–Ω—ã–µ –∏–Ω–¥–µ–∫—Å—ã

In [66]:
a1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'), index=['v', 5, 'FF'])
b1 = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('CD'), index=list('abc'))
c1 = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('EF'), index=[70, 80, 'w'])
frames = [ a1, b1, c1]
pd.concat(frames, axis=1)

      A    B     C     D      E      F
v   1.0  2.0   NaN   NaN    NaN    NaN
5   4.0  5.0   NaN   NaN    NaN    NaN
FF  7.0  8.0   NaN   NaN    NaN    NaN
a   NaN  NaN  10.0  20.0    NaN    NaN
b   NaN  NaN  40.0  50.0    NaN    NaN
c   NaN  NaN  70.0  80.0    NaN    NaN
70  NaN  NaN   NaN   NaN  100.0  200.0
80  NaN  NaN   NaN   NaN  400.0  500.0
w   NaN  NaN   NaN   NaN  700.0  800.0


**concat() - –≤–µ—Ä—Ç–∏–∫–∞–ª—å** 
* –£—Å–ª–æ–≤–∏–µ:
    * `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` –∏–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤
    * –∏–Ω–¥–µ–∫—Å—ã `–ª—é–±—ã–µ`

In [34]:
a = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'), index=['v', 5, 'FF'])
b = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('AB'))
c = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('AB'))

frames = [a, b, c]
pd.concat(frames)

      A    B
v     1    2
5     4    5
FF    7    8
0    10   20
1    40   50
2    70   80
0   100  200
1   400  500
2   700  800

**concat() DF - Series - –≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å**
* –ò–Ω–¥–µ–∫—Å—ã –æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ

In [49]:
a1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))
s2 = pd.Series(["_0", "_1", "_2"])

pd.concat([a1, s2], axis=1)

   A  B   0
0  1  2  _0
1  4  5  _1
2  7  8  _2

**concat() DF - Series**
* –ò–Ω–¥–µ–∫—Å—ã `—Ä–∞–∑–Ω—ã–µ`

In [50]:
a1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'), index=['v', 5, 'FF'])
s2 = pd.Series(["_0", "_1", "_2"])

pd.concat([a1, s2], axis=1)

      A    B    0
v   1.0  2.0  NaN
5   4.0  5.0  NaN
FF  7.0  8.0  NaN
0   NaN  NaN   _0
1   NaN  NaN   _1
2   NaN  NaN   _2

**concat() DF - Series** -> *–≤–µ—Ä—Ç–∏–∫–∞–ª—å*
* –ò–Ω–¥–µ–∫—Å—ã `—Ä–∞–∑–Ω—ã–µ` –∏–ª–∏ `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` —Ä–µ–∑—É–ª—å—Ç–∞—Ç –æ–¥–∏–Ω
* –ò–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ`

In [61]:
a1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))

s1 = pd.Series(["_0", "_1", "_2"], name='A')
s2 = pd.Series(["_0", "_10", "_20"], name='B')

pd.concat([a1, s1, s2], axis=0)

     A    B    0
0  1.0  2.0  NaN
1  4.0  5.0  NaN
2  7.0  8.0  NaN
0  NaN  NaN   _0
1  NaN  NaN   _1
2  NaN  NaN   _2
0  NaN  NaN   _0
1  NaN  NaN  _10
2  NaN  NaN  _20

**concat() DF - –Ω–µ—Å–∫–æ–ª—å–∫–æ Series** -> *–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å*
* –ò–Ω–¥–µ–∫—Å—ã  `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` –µ—Å–ª–∏ –Ω–µ—Ç —Ç–æ `NaN`
* –ò–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` –∏–ª–∏ `—Ä–∞–∑–Ω—ã–µ` —Ä–µ–∑—É–ª—å—Ç–∞—Ç –æ–¥–∏–Ω

In [65]:
a1 = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))

s1 = pd.Series(["_0", "_1", "_2"], name='AA')
s2 = pd.Series(["_0", "_10", "_20"], name='BB')

pd.concat([a1, s1, s2], axis=1)

   A  B  AA   BB
0  1  2  _0   _0
1  4  5  _1  _10
2  7  8  _2  _20

**concat() - MultiIndex - –≤–µ—Ä—Ç–∏–∫–∞–ª—å**
* –£—Å–ª–æ–≤–∏–µ:
    * `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` –∏–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤
    * –∏–Ω–¥–µ–∫—Å—ã `–ª—é–±—ã–µ`

In [129]:
a = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))
b = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('AB'), index=['v', 5, 'FF'])
c = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('AB'), index=['vV', 55, 'std'])
frames = [a, b, c]
# pd.concat(frames, axis=1)

# üëâ –ú—É–ª—å—Ç–∏–∏–Ω–¥–µ–∫—Å—ã —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º DF: "x" - a, "y" - b, "z" - c
pd.concat(frames, keys=["x", "y", "z"], axis=0)

         A    B
x 0      1    2
  1      4    5
  2      7    8
y v     10   20
  5     40   50
  FF    70   80
z vV   100  200
  55   400  500
  std  700  800

**concat() - MultiIndex - loc**
* `–ò–∑–≤–ª–µ–∫–∞–µ–º –Ω—É–∂–Ω—ã–π –±–ª–æ–∫ –ø–æ MultiIndex`
* –£—Å–ª–æ–≤–∏–µ:
    * `–æ–¥–∏–Ω–∞–∫–æ–≤—ã–µ` –∏–º–µ–Ω–∞ —Å—Ç–æ–ª–±—Ü–æ–≤
    * –∏–Ω–¥–µ–∫—Å—ã `–ª—é–±—ã–µ`

In [75]:
a = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))
b = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('AB'), index=['v', 5, 'FF'])
c = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('AB'), index=['vV', 55, 'std'])
frames = [a, b, c]
# pd.concat(frames, axis=1)

result = pd.concat(frames, keys=["x", "y", "z"])
result.loc["y"]

     A   B
v   10  20
5   40  50
FF  70  80

**Series transform –≤ DF**

In [81]:
s1 = pd.Series(["_0", "_1", "_2"])
s1.to_frame(name='–¢–µ–ø–µ—Ä—å DF')

  –¢–µ–ø–µ—Ä—å DF
0        _0
1        _1
2        _2

**concat() - –≤–µ—Ä—Ç–∏–∫–∞–ª—å**

In [83]:
df1 = pd.DataFrame(
     {
         "A": ["A0", "A1", "A2", "A3"],
         "B": ["B0", "B1", "B2", "B3"],
         "C": ["C0", "C1", "C2", "C3"],
         "D": ["D0", "D1", "D2", "D3"],
     },
     index=[0, 1, 2, 3],
 )
 

df2 = pd.DataFrame(
     {
         "A": ["A4", "A5", "A6", "A7"],
         "B": ["B4", "B5", "B6", "B7"],
         "C": ["C4", "C5", "C6", "C7"],
         "D": ["D4", "D5", "D6", "D7"],
     },
     index=[4, 5, 6, 7],
 )
 

df3 = pd.DataFrame(
     {
         "A": ["A8", "A9", "A10", "A11"],
         "B": ["B8", "B9", "B10", "B11"],
         "C": ["C8", "C9", "C10", "C11"],
         "D": ["D8", "D9", "D10", "D11"],
     },
     index=[8, 9, 10, 11],
 )
 

frames = [df1, df2, df3]

pd.concat(frames)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

**Appending rows to a DataFrame**

In [86]:
s2 = pd.Series([0.1, 0.2, 0.3, 0.4], index=["A", "B", "C", "D"])

result = pd.concat([df1, s2.to_frame().T], ignore_index=True)

result

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
4  0.1  0.2  0.3  0.4

**merge - join - DF**

In [113]:
import pandas as pd

a = pd.DataFrame([[1, 2], [4, 5], [7, 8]], columns=list('AB'))
b = pd.DataFrame([[10, 20], [40, 50], [70, 80]], columns=list('CD'))
c = pd.DataFrame([[100, 200], [400, 500], [700, 800]], columns=list('EF'))

pd.merge(a, c, how='left', left_on='A', right_on='E')

   A  B   E   F
0  1  2 NaN NaN
1  4  5 NaN NaN
2  7  8 NaN NaN

**DF - StandardScaler - –ò–º–µ–Ω–∞**
*  –ß—Ç–æ –±—ã `—Å–æ—Ö—Ä–∞–Ω–∏—Ç—å` –∏–º–µ–Ω–∞ –ø–æ—Å–ª–µ `—Å—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü–∏–∏` –Ω—É–∂–Ω–æ:
    * –ò–º–µ–Ω–∞ `—è–≤–Ω–æ` —É–∫–∞–∑–∞—Ç—å –ø—Ä–∏ `–ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Å–æ–∑–¥–∞–Ω–∏–∏ DF`

In [130]:
df_train = pd.DataFrame({'One': [0.0001, 0.0002, 0.0003], 'Two': [1, 2, 3], 'Three': [100, 200, 300]})
df_test =  pd.DataFrame({'One': [0.01, 0.02, 0.03], 'Two': [10, 20, 30], 'Three': [1000, 2000, 3000]})

# üëâ scale - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç ndarray
scale = StandardScaler()
scale.fit_transform(df_train)
scale.transform(df_test)
# üëâ –ò–∑–≤–ª–µ–∫–∞–µ–º –∏–º–µ–Ω–∞ –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–≥–æ df_test, index - —è–≤–Ω—ã–π, —Å–∏–Ω—Ö—Ä–æ–Ω–∏–∑–∞—Ü–∏—è –∏–Ω–¥–µ–∫—Å–æ–≤
df_test_scale = pd.DataFrame(scale.transform(df_test), columns=df_test.columns, index=df_test.index)
df_test_scale

          One        Two      Three
0  120.024997   9.797959   9.797959
1  242.499485  22.045408  22.045408
2  364.973972  34.292856  34.292856

In [2]:
class Person:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        return f"–ü—Ä–∏–≤–µ—Ç, —è {self.name}"

p = Person("–Æ–ª—è")
print(p)        # –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –≤—ã–∑–æ–≤–µ—Ç—Å—è __str__
print(str(p))   # —Ç–æ–∂–µ –≤—ã–∑–æ–≤–µ—Ç—Å—è __str__

–ü—Ä–∏–≤–µ—Ç, —è –Æ–ª—è

'–ü—Ä–∏–≤–µ—Ç, —è –Æ–ª—è'