In [1]:
import  pandas as pd
import numpy as np

Drop columns

In [2]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                 columns=['A', 'B', 'C', 'D'])
print(df)

# TODO Удадаление столбцов по axis = 1
df1 = df.drop(['A', 'C', 'D'], axis=1)
print(df1)


# TODO Удаление строки по axis = 0
df1 = df.drop([0], axis=0)
print(df1)


# TODO Drop a row by index
df3 = df.drop(columns=['A', 'C'], axis=1)
print(df3)


# TODO Drop a row by index
df2 = df.drop([1, 2])
print(df2)

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
   B
0  1
1  5
2  9
   A  B   C   D
1  4  5   6   7
2  8  9  10  11
   B   D
0  1   3
1  5   7
2  9  11
   A  B  C  D
0  0  1  2  3

Удаление пропусков

In [15]:
df = pd.DataFrame({
    "A": [1, 2, pd.NA],
    "B": [4, None, pd.NA],
    "C": [7, 8, 9]
    })

# TODO Удаление по строкам, axis=0 по умолчанию
df1 = df.dropna()
print(df1)

# TODO Удаление по столбцам, axis=1 явно
df2 = df.dropna(axis=1)
print(df2)

   A  B  C
0  1  4  7
   C
0  7
1  8
2  9

Drop columns and/or rows of MultiIndex DataFrame

In [24]:
midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
                             ['speed', 'weight', 'length']],
                     codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3, 0.2]])
print(df)

# TODO Удаление комбинации мультииндекса
# TODO Удалена строка животного 'falcon' и его параметра 'weight'
df1 = df.drop(index=('falcon', 'weight'))
print(df1)


# TODO Удаление индекса + столбец
df3 = df.drop(index='cow', columns='small')
print(df3)

# TODO Удаление индекса из уровня - 1 -> параметры speed, weight, length
df4 = df.drop(index='length', level=1)
print(df4)

                 big  small
llama  speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2
                 big  small
llama  speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       length    0.3    0.2
                 big
llama  speed    45.0
       weight  200.0
       length    1.5
falcon speed   320.0
       weight    1.0
       length    0.3
                 big  small
llama  speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8

Удаление Дубликатов

In [55]:


df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})
print(df, '\n')

# TODO Alias of isna
print(df.isna(), '\n')

# TODO Удаление ВСЕХ пропусков
df1 = df.dropna()
print(df1, '\n')

# TODO Удаление пропусков по столбцам axes=1
df2 = df.dropna(axis=1)
print(df2, '\n')

# TODO Удалить все строки где отсутствуют все элементы
df3 = df.dropna(how='all')
print(df3, '\n')

# TODO Удалить все строки где отсутствуют два и более элементов
df4 = df.dropna(thresh=2)
print(df4, '\n')

# TODO Удалить все строки с пропусками, по заданным столбцам
df5 = df.dropna(subset=['name', 'toy'])
print(df5, '\n')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

     name        toy       born
1  Batman  Batmobile 1940-04-25

       name
0    Alfred
1    Batman
2  Catwoman

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

**Show which entries in a Series are NA.**

In [56]:
# TODO isna
ser = pd.Series([5, 6, np.nan])
print(ser, '\n')

ser.isna()

0    5.0
1    6.0
2    NaN
dtype: float64

0    False
1    False
2     True
dtype: bool

**nunique()**

In [57]:
df44 = pd.DataFrame({"A": [5, 2, 2, 4, 5],
                     "B": [50, 20, 50, 40, 50],
                     "C": [300, 300, 300, 400, 300]},
                    index=["Avrg", "Bin", "Cnt", "Foo", "Dt"]
                    )

print(df44, '\n')
print(df44.nunique(), '\n')
print(df44.nunique(axis=1), '\n')

      A   B    C
Avrg  5  50  300
Bin   2  20  300
Cnt   2  50  300
Foo   4  40  400
Dt    5  50  300

A    3
B    3
C    2
dtype: int64

Avrg    3
Bin     3
Cnt     3
Foo     3
Dt      3
dtype: int64