In [ ]:
import numpy as np
import pandas as pd
df_s = pd.read_csv("D:\Eduson_data\ds_salaries.csv", index_col=0)

'''
Фильтрация по Маске
'''

In [ ]:
df = pd.DataFrame({
    'A': [34, 44, 40, 20, 32, 32, 49, 44, 34, 30, 45, 48, 36, 38, 47, 27, 24, 28, 25, 46],
    'B': ['M', 'W', 'W', 'F', 'M', 'F', 'W', 'F', 'W', 'M', 'M', 'S', 'S', 'F', 'F', 'F', 'M', 'M', 'F', 'S']
})
np.random.seed(0)
ar = np.random.randint(1, 11, size=12)

In [ ]:
# TODO ЗАдание масок вручную
# вывод каждого второго элемента ar (shape=12)
mask1 = [True, False, True, False, True, True, False, True, False, True, True, False]

# Вывод 2-х первых и 2-х последних значений
mask2 = [True, True, False, False, False, False, False, False, False, False, True, True] 

print(ar)
print(ar[mask1])
print(ar[mask2])


 1. Фильтрация по нескольким условиям
    * Только сеньоры с зарплатой выше 100k.

In [ ]:
df_s[(df_s['salary_in_usd'] > 100000) & (df_s['experience_level'] == 'SE')]
# df_s

 2. Инверсия маски (NOT)
    * ~ это побитовая инверсия, и в контексте булевой маски она работает как "НЕ"
    *  ~mask превращает:

        * True → False

        * False → True

In [ ]:
mask = df_s['experience_level'].isin(['MI', 'SE'])
df_s[~mask]  # Все, кто НЕ MI и НЕ SE

3. Создание нового признака по условию
    * Новый столбец is_senior: True если грейд SE или TL.

In [ ]:
df_s['is_senior'] = df_s['experience_level'].isin(['SE', 'TL'])
# df_s

4. Частичная фильтрация строк по тексту
    * Строки, где в job_title встречается 'Data'.

In [ ]:
df_s[df_s['job_title'].str.contains('Data')]

 5. Где есть пропуски (NaN)
    * Строки с отсутствующей зарплатой.

In [ ]:
mask = df_s['salary_in_usd'].isna()
df_s[mask]

6. Маска по количественным условиям после группировки
    * Средняя зарплата грейдов, где > 80k.

In [ ]:
grp = df_s.groupby('experience_level')['salary_in_usd'].mean()
mask = grp > 80000
print(grp[mask])

7. 
8. Маска из .rank() или .quantile()
    * Это сравнение каждого значения с 90-м процентилем всей колонки salary_in_usd.
        * df_s['salary_in_usd'].quantile(0.9) - это значения из признака salary_in_usd соответствующиие 90 процентилю
        * df_s['salary_in_usd'] - это все значения  признака salary_in_usd

In [ ]:
mask = df_s['salary_in_usd'] > df_s['salary_in_usd'].quantile(0.9)
df_s[mask]  # Топ-10% по зарплате

8. Маска для сравнения с предыдущей строкой (сдвиг)
    * Строки, где зарплата выросла по сравнению с предыдущей.
    * Метод shift() сдвигает значения вниз по DataFrame или можно сказать берёт предыдущую строку исходного столбца

In [ ]:
df_s['salary_shift'] = df_s['salary_in_usd'].shift()
mask = df_s['salary_in_usd'] > df_s['salary_shift']
df_s[mask]

shift - Пример

In [70]:
df = pd.DataFrame({'salary_in_usd': [1000, 1200, 1100, 1300]})
df['salary_shift'] = df['salary_in_usd'].shift()
print(df, '\n')

# TODO что бы заменить  NaN на Ноль, используем заполнение fillna
df['salary_shift'] = df['salary_in_usd'].shift().fillna(0)
print(df, '\n')

# TODO что бы заменить  NaN на последнее значение, используем заполнение iloc[-1])
df['salary_shift'] = df['salary_in_usd'].shift().fillna(df['salary_in_usd'].iloc[-1])
print(df, '\n')

   salary_in_usd  salary_shift
0           1000           NaN
1           1200        1000.0
2           1100        1200.0
3           1300        1100.0

   salary_in_usd  salary_shift
0           1000           0.0
1           1200        1000.0
2           1100        1200.0
3           1300        1100.0

   salary_in_usd  salary_shift
0           1000        1300.0
1           1200        1000.0
2           1100        1200.0
3           1300        1100.0

Пример частичной фильтрации по тексту
* .str.contains('Data') возвращает булеву маску, где True — строки, содержащие подстроку 'Data'.

In [ ]:
import pandas as pd

# Пример DataFrame
df = pd.DataFrame({
    'job_title': ['Data Scientist', 'Data Engineer', 'Software Developer',
                  'Senior Data Scientist', 'Data Analyst']
})

# Фильтрация строк, содержащих 'Data'
mask = df['job_title'].str.contains('Data')

# Применение маски
filtered_df = df[mask]

print(filtered_df)

Булевая индексация (фильтрации) в pandas

In [ ]:


# Создаём DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'grade': ['MI', 'SE', 'JN', 'SE', 'TL'],
    'salary': [90000, 120000, 75000, 110000, 130000]
})

# Булевая маска: выбираем грейды только 'MI' и 'SE'
mask = df['grade'].isin(['MI', 'SE'])

# Применяем маску к df
filtered_df = df[mask]

print(filtered_df)